<div class="result-nav">
    <dev class="result-burger">
        <a class="arrow" href="/"> Home </a>
        <a class="arrow" href="/posts"> Posts </a>
        <a class="arrow" href="/addPost"> Add Posts </a>
        <a class="arrow" href="/start-scan"> Scan</a>
        <a class="arrow" href="/scan-results/"> Scan Results </a>
        <a class="arrow" href="/profile"> My Profile </a>
        <a class="arrow" href="/logout"> Logout </a>
    </dev>
</div>