<!-- <header id="nav-header">
<nav id="nav-nav">
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
    <p><a href="/posts">Posts</a></p>
    <p><a href="/addPost">Add Post</a></p>
    <p><a href="/logout">Logout</a></p>
</nav>
</header> -->

<ol>
    <li><a class="arrow" href="/"><i class="fas fa-arrow-alt-right"></i>Home</a></li>
    <li><a class="arrow" href="/posts"><i class="fas fa-arrow-alt-right"></i>Posts</a></li>
    <li><a class="arrow" href="/addPost"><i class="fas fa-arrow-alt-right"></i>Add Posts</a></li>
    <li><a class="arrow" href="/profile"><i class="fas fa-arrow-alt-right"></i>My Profile</a></li>
    <li><a class="arrow" href="/logout"><i class="fas fa-arrow-alt-right"></i>Logout</a></li>
  </ol>
  