<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/burger-nav.css">
    <link rel="stylesheet" href="/css/login-form.css">
</head>
<body>
<div class="common-main">
    <div class="result-nav">
            <dev class="result-burger">
                <a class="arrow" href="/"> Home </a>
                <a class="arrow" href="/login"> Login </a>
                <a class="arrow" href="/register"> Sign Up </a>
            </dev>
    </div>

    <div class="login-form-main">
        <form class="login-form" action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button type="submit" class="submit-btn"> Sign In</button>
            <% if (error) { %>
                <div class="error-banner"><%= message %></div>
            <% } %>
        </form>
    </div>

</div>
</body>
</html>