<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>></title>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <ol>
        <li><a class="arrow" href="/"><i class="fas fa-arrow-alt-right"></i>Home</a></li>
        
        <% if (isAuthed) { %>
            <li><a class="arrow" href="/posts"><i class="fas fa-arrow-alt-right"></i>Posts</a></li>
            <li><a class="arrow" href="/addPost"><i class="fas fa-arrow-alt-right"></i>Add Posts</a></li>
            <li><a class="arrow" href="/profile"><i class="fas fa-arrow-alt-right"></i>My Profile</a></li>
            <li><a class="arrow" href="/logout"><i class="fas fa-arrow-alt-right"></i>Logout</a></li>
        <% } else { %>
            <li><a class="arrow" href="/login"><i class="fas fa-arrow-alt-right"></i>Login</a></li>
            <li><a class="arrow" href="/register"><i class="fas fa-arrow-alt-right"></i>Sign Up</a></li>
        <% } %>

        
      </ol>
</body>
</html>