<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/burger-nav.css">
    <link rel="stylesheet" href="/css/login-form.css">
</head>
<body>
    <div class="common-main">
        <%- include('partials/burger-nav') %>
        <div class="login-form-main">
            <form id="scanForm" class="login-form" action="/start-scan" method="POST">
                <label for="imageName">Image Name:</label>
                <input type="text" id="imageName" name="imageName" required>
                <br>
                <button type="submit" class="submit-btn">Scan</button>
            </form>
        </div>
    </div>
</body>
</html>