.scan-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 

}

.scan-form form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.scan-form  form label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

.scan-form  form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.scan-form  form input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.scan-form  form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scan-form  form button[type="submit"]:hover {
    background-color: #409043;
}


@media screen and (max-width: 600px) {
    .scan-form form {
        padding: 20px;
        max-width: 90%;
    }

    .scan-form  form label, .scan-form  form input[type="password"], #changePassword-main form button[type="submit"] {
        font-size: 14px;
    }
}

#loader {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

#status {
    font-size: 18px;
    color: #d9534f; 
    margin-top: 20px;
}